<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <script src="https://kit.fontawesome.com/d9eb1b8442.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">

</head>
<body><!-- la imagen ira como fondo de pantalla -->
    <header>
        <nav>
        <ul>
            <li><a href="/" >HOME</a>
            <li><a href="/about">ABOUT</a>
            <li><a href="/music">MUSIC</a>
            <li><a href="/contact">CONTACT</a>
        </ul>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
        <a href=""><i class="fa-brands fa-spotify"></i></a>
        <a href=""><i class="fa-brands fa-apple"></i></a>
        <a href=""><i class="fa-brands fa-amazon"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
    </nav>
    </header>
    <main>
        <h2>emilia<br>cole //</h2>
        <h1>Twist in my reality</h1>
   
    </main>
    
  
</body>
</html>