<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUSIC</title>
    <script src="https://kit.fontawesome.com/d9eb1b8442.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body id="inicio" class="music">
    <header class="header"> 
        <nav class="header__nav">
            <ul class="header__nav--menu">
                <li><a href="/" >| HOME</a>
                <li><a href="/about">| ABOUT</a>
                <li><a href="/music">| MUSIC</a>
                <li><a href="/contact">| CONTACT |</a>
            </ul>
            <div class="header__nav--redes">
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-spotify"></i></a>
                    <a href=""><i class="fa-brands fa-apple"></i></a>
                    <a href=""><i class="fa-brands fa-amazon"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
            </div>
        </nav>
    <main class="music__main">
        <h1 class="music__main--titulo">music//</h1>
        <h5>Direc links</h5>
        <nav class="music__main--nav">
            <ul>
                <li><a href="#album"></a>Album</li>
                <li><a href="#organic"></a>Video: Organic Love</li>
                <li><a href="#street"></a>Video: Street Light</li>
            </ul>
        </nav>
    <!-- caja para los albunes -->
        <section class="music__main__section">
            <!-- caja de albunes -->
                <article id="album" class="music__main__section__article">
                    <h3>Album:<br>twist my reality</h3>
                    <img src="/images/emilia-play-list.png" alt="" width="640">
                </article>
                <ol>
                    <li><i class="fa fa-play"></i>organic love</li>
                    <li><i class="fa fa-play"></i>twist in my reality</li>
                    <li><i class="fa fa-play"></i>street light</li>
                    <li><i class="fa fa-play"></i>Lorem ipsum dolor sit.</li>
                </ol>
                <a href="#">go top</a>
        </section>
    <!-- caja para los videos -->
        <section class="music__main__section">
            <!-- caja de videos -->
            <article id="organic" class="music__main__section__article">
                <h3>Video: <br> Organic Love</h3>
                <iframe src="https://player.vimeo.com/video/135166028" width="640" height="360" frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <div>
                    <p>Directed by VINCE MALC & EMILIA COLE</p>
                    <p>Edited and Filmed by NICOLAS TROY</p>
                    <p>Produced by NIKI HEART,</p>
                    <p>Wix Films LTD.</p>
                </div>
                <a href="#">go top</a>
            </article>
            <!-- caja de video -->
            <article id="street" class="music__main__section__article">
                <h3>Video: <br> street light</h3>
                <iframe src="https://player.vimeo.com/video/134861419" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <div>
                    <p>Directed by VINCE MALC & EMILIA COLE</p>
                    <p>Edited and Filmed by NICOLAS TROY</p>
                    <p>Produced by NIKI HEART,</p>
                    <p>Wix Films LTD.</p>
                </div>
                <a href="#">go top</a>
            </article>
        </section>
    </main>


    
</body>
</html>